<div id="timer" class="timer-container">
  <!-- Top row - where the time goes -->
  <div class="timer-top">
    <div class="timer-time outline time-text">
      {{front.time}}
    </div>
    <div class="timer-queue">
      <div class="queue_panel">
        <div class="queue_panel-title">Queue</div>
        <div class="queue_panel-list">
          <ul class="no-style">
            <li ng-repeat="q in front.queue track by $index">{{q.interval}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="timer-side_buttons outline">
      <button class="button-small gray-button" data-ng-click="remove()"><i class="fa fa-times"></i></button>
      <button class="button-small gray-button" data-ng-click="hardReset()"><i class="fa fa-repeat"></i></button>
    </div>
  </div>
  <!-- Bottm row - buttons -->
  <div class="timer-bottom">
    <div class="timer-button">
      <button data-ng-click="start()" class="flat-button fb-start">Start</button>
    </div>
    <div class="timer-button">
      <button data-ng-click="stop()" class="flat-button fb-stop">Stop</button>
    </div>
    <div class="timer-button">
      <button data-ng-click="reset()" ng-disabled="display"class="flat-button fb-reset">Reset</button>
    </div>
  </div>
</div>
